<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-8">
            <div class="align">
                <h1>Say Hello!</h1>
                <p>Donec cursus dolor vitae congue consectetur. Morbi mattis viverra felis. Etiam dapibus id turpis at
                    sagittis. Cras mollis mi vel ante ultricies, id ullamcorper mi pulvinar. Proin bibendum ornare
                    risus, lacinia cursus quam condimentum id. Curabitur auctor massa eget porttitor molestie. Aliquam
                    imperdiet dolor nec metus pulvinar sollicitudin.
                </p>
                <p><b>Aliquam iaculis at odio ut tempus.</b> Suspendisse blandit luctus dui, a consequat mauris mollis
                    id. Sed
                    in ante at tortor malesuada imperdiet. Vestibulum sed gravida nibh. Nulla suscipit congue lorem, id
                    tempor ipsum molestie sit amet. Nulla ultricies vitae erat in tincidunt. Maecenas tempus quam et
                    ipsum elementum, a efficitur lectus tincidunt. Praesent diam elit, tincidunt ac tempus vulputate,
                    aliquet viverra mauris. Etiam eu nunc efficitur, sagittis est ut, fringilla neque. Ut interdum eget
                    lorem eget congue. Ut nec arcu placerat, mattis urna vel, consequat diam. Sed in leo in dolor
                    suscipit molestie.
                </p>
                <div class="row">
                    <div class="col-1">
                        <h5 style="color: blue;">Email:</h5>
                    </div>
                    <div class="col-1">
                        <a href="#" class="change">
                            <h5>mepress@gmail.com</h5>
                        </a>
                    </div>
                </div>
                <h4 style="margin-top: 10%;">Send Us a Message</h4>
                <p style="font-size: 15px;">Your email address will not be published. All the fields are required.</p>
                <div class="row mt-5">
                    <div class="col-3">
                        <h6>Your Name</h6>
                        <input type="text" class="same">
                    </div>
                    <div class="col-3 off">
                        <h6>Phone</h6>
                        <input type="text" class="same">
                    </div>
                    <div class="col-3 off">
                        <h6>Your Email</h6>
                        <input type="text" class="same">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <h6>Your Message</h6>
                        <input type="text" class="another">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-2">
                    <button class="btn bg-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="align1">
                <div class="row">
                    <div class="col-5 card ca">
                        <div class="row">
                            <div class="col-4">
                                <img src="../../../assets/images/Tech.jpg" height="55px" width="55px">
                            </div>
                            <div class="col-6 my-auto">
                                <h5 class="letter text-muted">Tech</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 card ca">
                        <div class="row">
                            <div class="col-4">
                                <img src="../../../assets/images/kondai.jpg" height="55px" width="55px">
                            </div>
                            <div class="col-6 my-auto">
                                <h5 class="letter text-muted">Style</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 card ca">
                        <div class="row">
                            <div class="col-4">
                                <img src="../../../assets/images/Boat_Man.jpg" height="55px" width="55px">
                            </div>
                            <div class="col-6 my-auto">
                                <h5 class="letter text-muted">Travel</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 card ca">
                        <div class="row">
                            <div class="col-4">
                                <img src="../../../assets/images/Grape_Juice.jpg" height="55px" width="55px">
                            </div>
                            <div class="col-6 my-auto">
                                <h5 class="letter text-muted">Food</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card Search-card p-4 mt-4">
                        <h5>Search</h5>
                        <hr>
                        <div class="box mb-3">
                            <div class="row">
                                <div class="col-1 ms-3">
                                    <a href="" class="text-muted"><i class="fa-solid fa-magnifying-glass"></i></a>
                                </div>
                                <div class="col-10">
                                    <input type="text" placeholder="Search" class="mt-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card Search-card p-4 mt-4">
                        <h5>Popular on Blogar</h5>
                        <hr>
                        <div class="row zoom ms-1 mt-2">
                            <div class="col-4 img-div">
                                <img src="../../../assets/images/grass.jpg" class="img">
                            </div>
                            <div class="col-8 ms-2">
                                <h6 class="u-line">The underrated design book</h6>
                                <h6 class="u-line">that transformed the way I</h6>
                                <h6 class="u-line">work</h6>
                                <p style="font-size: 12px; display: flex; margin-top: 2%;">Feb 17, 2019 &nbsp;
                                    <li>300k Views</li>
                                </p>
                            </div>
                        </div>

                        <div class="row zoom ms-1 mt-3">
                            <div class="col-4 img-div">
                                <img src="../../../assets/images/alone.jpg" class="img">
                            </div>
                            <div class="col-8 ms-2">
                                <h6 class="u-line">Here’s what you should (and</h6>
                                <h6 class="u-line">shouldn’t) do when</h6>
                                <p style="font-size: 12px; display: flex; margin-top: 2%;">Feb 17, 2019 &nbsp;
                                    <li>300k Views</li>
                                </p>
                            </div>
                        </div>

                        <div class="row zoom ms-1 mt-3 mb-4">
                            <div class="col-4 img-div">
                                <img src="../../../assets/images/stand.jpg" class="img">
                            </div>
                            <div class="col-8 ms-2">
                                <h6 class="u-line">How a developer and</h6>
                                <h6 class="u-line">designer duo at Deutsche</h6>
                                <h6 class="u-line">Bank keep remote</h6>
                                <p style="font-size: 12px; display: flex; margin-top: 2%;">Feb 17, 2019 &nbsp;
                                    <li>300k Views</li>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="card Search-card p-4 mt-4">
                        <h5>Stay In Touch</h5>
                        <hr>
                        <div class="row ms-4">
                            <div class="col-2">
                                <i class="fa-brands fa-facebook-f footer-icon"></i>
                            </div>
                            <div class="col-2">
                                <i class="fa-brands fa-instagram footer-icon1"></i>
                            </div>
                            <div class="col-2">
                                <i class="fa-brands fa-twitter footer-icon1"></i>
                            </div>
                            <div class="col-2">
                                <i class="fa-brands fa-slack footer-icon1"></i>
                            </div>
                            <div class="col-2">
                                <i class="fa-brands fa-linkedin-in footer-icon1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>