<div class="row body-image">
    <div class="col-5 body-image1">
        <img src="../../../assets/images/Cap_Girl.jpg" class="cap-girl">
        <div class="gradient"></div>
        <a href="#" class="img-feature anchor txtclr text-white">FEATURED POST</a>
        <div class="parent-fashion-potrait">
            <a href="#" class="fashion-potrait text-white body-line1">Fashion portrait of young</a>
            <a href="#" class="fashion-potrait1 text-white body-line1">businessman handsome model</a>
            <a href="#" class="fashion-potrait2 text-white body-line1"> man in casual cloth.</a>
        </div>
    </div>

    <div class="col-5 body-images" style="margin-left: 0.5%;">
        <div class="row">
            <div class="col-5 body-image2">
                <img src="../../../assets/images/Girl_Beach.jpg" class="girl-beach">
                <div class="gradient1"></div>
                <div class="body-image2-travel">
                    <a href="#" class="travel anchor txtclr text-white">TRAVEL</a>
                </div>
                <div class="body-image2-content">
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="div-content text-white body-line1">The beautiful girl</a><br>
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="div-content text-white body-line1"
                        style="margin-top: -4%;position: absolute;width: 185px;">standing on a balcony</a><br>
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="div-content text-white body-line1"
                        style="margin-top: -5%;position: absolute;width: 190px;">of apartments looking</a><br>
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="div-content text-white body-line1"
                        style="margin-top: -6%;position: absolute;width: 122px;">at the seaside.</a>
                </div>
            </div>
            <div class="col-5 body-image3"><img src="../../../assets/images/Cap_Girl_Beach.jpg" class="cap-girl-beach">
                <div class="gradient1-1"></div>
                <div class="body-image3-travel">
                    <a href="#" class="travel anchor txtclr text-white">TRAVEL</a>
                </div>
                <div class="body-image3-content">
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="div-content text-white body-line1">A good traveler has no</a><br>
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="div-content text-white body-line1"
                        style="margin-top: -2.5%;position: absolute;width: 185px;">fixed plans, and is
                        not</a><br>
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="div-content text-white body-line1"
                        style="margin-top: -3%;position: absolute;width: 151px;">intent on arriving.</a>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 3.8%;">
            <div class="col-5 body-image4">
                <img src="../../../assets/images/Boat_Man.jpg" class="boat-man">
                <div class="gradient2"></div>
                <div class="body-image4-travel">
                    <a href="#" class="travel anchor txtclr text-white">TRAVEL</a>
                </div>
                <div class="body-image4-content">
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="div-content text-white body-line1">A good traveler has no</a><br>
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="div-content text-white body-line1"
                        style="margin-top: -2.5%;position: absolute;width: 185px;">fixed plans, and is
                        not</a><br>
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="div-content text-white body-line1"
                        style="margin-top: -3%;position: absolute;width: 151px;">intent on arriving.</a>
                </div>
            </div>
            <div class="col-5 body-image5">
                <img src="../../../assets/images/Watch_Hand.jpg" class="watch-hand">
                <div class="gradient2-1"></div>
                <div class="body-image5-travel">
                    <a href="#" class="travel anchor txtclr text-white">ACCESSORY</a>
                </div>
                <div class="body-image5-content">
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="div-content text-white body-line1">Fashion portrait of</a><br>
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="div-content text-white body-line1"
                        style="margin-top: -3.5%;position: absolute;width: 169px;">young businessman</a><br>
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="div-content text-white body-line1"
                        style="margin-top: -5%;position: absolute;width: 188px;">handsome model man</a><br>
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="div-content text-white body-line1"
                        style="margin-top: -5.5%;position: absolute;width: 124px;">in casual cloth.</a><br>
                </div>
            </div>
        </div>
    </div>
</div>
