<div class="row mt-3 intro">
    <div class="col-9 intro1">
            <a href="#" class="anchor text-muted">4 November, 2022</a>
            <a href="#" class="anchor text-muted ad txtclr">Advertisement</a>
            <a href="/about" class="anchor text-muted ad txtclr">About</a>
            <a href="/contact" class="anchor text-muted ad txtclr">Contact</a>
    </div>
    <div class="col intro2">
            <a href="#" class="anchor text-black" style="margin-left: 0.3%;"><i
                            class="fa-brands fa-facebook-f media txtclr"></i></a>
            <a href="#" class="anchor text-black" style="margin-left: 0.7%;"><i
                            class="fa-brands fa-instagram media txtclr"></i></a>
            <a href="#" class="anchor text-black" style="margin-left: 0.7%;"><i
                            class="fa-brands fa-twitter media txtclr"></i></a>
            <a href="#" class="anchor text-black" style="margin-left: 0.9%;"><i
                            class="fa-brands fa-linkedin-in media txtclr"></i></a>
    </div>
</div>