<div class="row trending-topics">
    <div class="row">
        <h2 class="text-black" style="font-weight: 800; font-size: 36px;">
            Trending Topics</h2>
        <a href="#top" class="anchor rolling-tt"
            style="font-weight: 600; position: absolute; margin-top: 1.5%;">See
            All Topics</a>
    </div>
    <div class="row img-row-tt">
        <div class="col-2 img-shoe-div">
            <img src="../../../assets/images/Sports_Shoes.jpg" class="img-shoe">
            <div class="gradient-tt"></div>
            <p class="names ms-3">Sports & Fitnes</p>
        </div>
        <div class="col-2 img-shoe-div">
            <img src="../../../assets/images/Trucking_Boy.jpg" class="img-shoe">
            <div class="gradient-tt"></div>
            <span class="names ms-5">Travel</span>
        </div>
        <div class="col-2 img-shoe-div">
            <img src="../../../assets/images/Bag_Boat.jpg" class="img-shoe">
            <div class="gradient-tt"></div>
            <span class="names ms-5">Lifestyle</span>
        </div>
        <div class="col-2 img-shoe-div">
            <img src="../../../assets/images/Sthoscope.jpg" class="img-shoe">
            <div class="gradient-tt"></div>
            <span class="names ms-5">Health</span>
        </div>
        <div class="col-2 img-shoe-div">
            <img src="../../../assets/images/Chamilion.jpg" class="img-shoe">
            <div class="gradient-tt"></div>
            <span class="names ms-5">Animals</span>
        </div>
        <div class="col-2 img-shoe-div">
            <img src="../../../assets/images/cool drinks.jpg" class="img-shoe">
            <div class="gradient-tt"></div>
            <span class="names ms-4">Food & Drink</span>
        </div>
    </div>
</div>