<div class="row top-stories bg-white">
    <div class="top-stories-left-gap">
        <div class="row">
            <h2 class="text-black" style="font-weight: 800; font-size: 36px;margin-left: -0.45%;">Top Stories
            </h2>
        </div>
        <div class="row top-stories-button">
            <div class="col-10">
                <button type="button"
                    class="btn ts-btn-travel border border-muted text-muted ms-0">Travel</button>
                <button type="button"
                    class="btn ts-btn-lifestyle border border-muted text-muted">Lifestyle</button>
                <button type="button" class="btn ts-btn-acessory border border-muted text-muted"
                    style="width: 11% !important;">Accessory</button>
                <button type="button" class="btn ts-btn-gadgets border border-muted text-muted">Gadgets</button>
            </div>
            <div class="col-2">
                <a href="#top" class="anchor rolling"
                    style="font-weight: 600; position: absolute; margin-top: 1.5%;">See
                    All Topics</a>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="row policy">
                    <div class="col-3 bg-black" style="width: 105px;overflow: hidden;border-radius: 10px;">
                        <img src="../../../assets/images/Tik_Tok.jpg" class="tik-tok-img">
                    </div>
                    <div class="col-8 ms-2">
                        <a href="#" class="head-policy anchor text-danger">POLICY</a>
                        <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                            class="text-black policy-content anchor u-line">TikTok pulls out of Hong Kong</a>
                        <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                            class="text-black policy-content1 anchor u-line" style="margin-top: 5%;">due to new
                            security law</a>
                    </div>
                </div>
                <br>
                <hr width="90%">
                <div class="row app">
                    <div class="col-3 bg-black" style="width: 105px;overflow: hidden;border-radius: 10px;">
                        <img src="../../../assets/images/Slack.jpg" class="tik-tok-img">
                    </div>
                    <div class="col-8 ms-2">
                        <a href="#" class="head-app anchor text-danger">APP</a>
                        <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                            class="text-black policy-content anchor u-line">Slack is giving your weekends</a>
                        <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                            class="text-black policy-content1 anchor u-line" style="margin-top: 5%;">back with
                            per-day</a>
                    </div>
                </div>
                <br>
                <hr width="90%">
                <div class="row policy">
                    <div class="col-3 bg-black" style="width: 105px;overflow: hidden;border-radius: 10px;">
                        <img src="../../../assets/images/Google.jpg" class="tik-tok-img">
                    </div>
                    <div class="col-8 ms-2">
                        <a href="#" class="head-policy anchor text-danger">GOOGLE</a>
                        <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                            class="text-black policy-content anchor u-line">How to personalize your Google</a>
                        <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                            class="text-black policy-content1 anchor u-line" style="margin-top: 5%;">Chrome
                            homepage with GIFs</a>
                    </div>
                </div>
                <br>
                <hr width="90%">
                <div class="row policy">
                    <div class="col-3 bg-black" style="width: 105px;overflow: hidden;border-radius: 10px;">
                        <img src="../../../assets/images/Business.jpg" class="tik-tok-img" style="width: 105px;height: 105px;">
                    </div>
                    <div class="col-8 ms-2">
                        <a href="#" class="head-policy anchor text-danger">BUSINESS</a>
                        <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                            class="text-black policy-content anchor u-line">Chinese EV startups Byton and</a>
                        <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                            class="text-black policy-content1 anchor u-line" style="margin-top: 5%;"> Nio
                            received paycheck</a>
                    </div>
                </div>
            </div>
            <div class="col-5 girl-pen-div bg-black">
                <img src="../../../assets/images/Girl-pen.jpg" class="girl-pen">
                <div class="gradient-girl-pen"></div>
                <a href="#" class="business-head anchor text-white">BUSINESS</a>
                <div class="girl-pen-content">
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="text-white girl-pen-content1 anchor u-line--">If you can build a business up big
                        enough,</a><br>
                    <a href="https://new.axilthemes.com/demo/template/blogar/post-details.html"
                        class="text-white girl-pen-content2 anchor u-line--" style="margin-top: 0%;">it's
                        respectable.</a>
                </div>
            </div>
        </div>
    </div>
</div>