<div class="row instagram-head">
    <div class="row">
        <h2 class="text-black" style="font-weight: 800; font-size: 36px;">
            Instagram</h2>
    </div>
    <div class="row mt-4">
        <div class="col-2 lambogni-div">
            <a href="#top">
                <img src="../../../assets/images/Lambogni.jpg" class="lambogni-img">
                <i class="fa-brands fa-instagram insta"></i>
            </a>
        </div>
        <div class="col-2 lambogni-div">
            <a href="#top">
                <img src="../../../assets/images/Car.jpg" class="lambogni-img">
                <i class="fa-brands fa-instagram insta"></i>
            </a>
        </div>
        <div class="col-2 lambogni-div">
            <a href="#top">
                <img src="../../../assets/images/Lamp.jpg" class="lambogni-img">
                <i class="fa-brands fa-instagram insta"></i>
            </a>
        </div>
        <div class="col-2 lambogni-div">
            <a href="#top">
                <img src="../../../assets/images/Selfie.jpg" class="lambogni-img">
                <i class="fa-brands fa-instagram insta"></i>
            </a>
        </div>
        <div class="col-2 lambogni-div">
            <a href="#top">
                <img src="../../../assets/images/Rest.jpg" class="lambogni-img">
                <i class="fa-brands fa-instagram insta"></i>
            </a>
        </div>
        <div class="col-2 lambogni-div">
            <a href="#top">
                <img src="../../../assets/images/Flight.jpg" class="lambogni-img">
                <i class="fa-brands fa-instagram insta"></i>
            </a>
        </div>
    </div>
</div>